<template>
    <!-- div ref="dropTarget" style="border:1px solid red; width:200px; height:200px;"></div -->
    <button type="button" ref="browseButton" class="uploader">
        <i class="fa fa-cloud-upload-alt" ref="uploadIcon"></i>
    </button>
    <ul class="w-full">
        <li class="inline-block text-gray-600 text-center p-2 relative" repeat.for="handledFile of handledFiles">
            <button click.delegate="onRemove(handledFile)" class="absolute top-0 right-0 rounded-full p-1 text-center bg-white border-gray-600 border h-6 w-6 flex items-center justify-center text-xs">
                <i class="fa fa-trash-alt"></i>
            </button>
            <img class="object-contain max-h-24" src.bind="handledFile.previewUrl" title.bind="handledFile.shortname">
        </li>
    </ul>
</template>
